vendor
node_modules
.git
.github
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
/.env.local
/.env.*.local
npm-debug.log
yarn-error.log
public/hot
public/storage
/.idea
/.vscode
coverage
composer.phar
Dockerfile